.gobmag-menu {
    padding-top: 5px;
}

.gobmag-menu:hover {
    background-color: #282e35;
}

.gobmag-ico {
    display: block;
    width: 64px;
    height: 45px;
    background: url("chrome-extension://efikipnibiakjbpahmnmdimhgaopmeoc/images/gobmagico2.png");
}

.gobmag-ico:active {
    background: url("chrome-extension://efikipnibiakjbpahmnmdimhgaopmeoc/images/gobmagico2click.png");
}

.selected {
    background-color: #282e35;
}

/*   MENU   */

#cnt-gm gmheader {
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 30px;
    border-bottom: 1px #0d0e0f solid;
}

#cnt-gm h2 {
    margin: 0px;
    padding-left: 15px;
    border-bottom: 1px solid #3d4b5c;
}

.submenu-cnt {
    /*display: hidden;*/
    background-color: #4a5563;
}

#cnt-gm a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#cnt-gm ul {
    list-style: circle !important;
    padding-left: 30px;
    background-color: #4f6179;
    display: none;
    position: relative;
}